<h3 class="mid">Pie chart with user input</h3> <hr/>

<div class="mid">
    <form [formGroup]='pieChartForm' novalidate class="form" (ngSubmit)='createChart()'>
        <input formControlName='colName' type="text" class="form-control" placeholder="Enter chart label" /><br/>
        <input formControlName='colValue' type="text" class="form-control" placeholder="Enter chart value" /> <br/>
        <button class="mid">Submit</button>
    </form>
</div>

<div class="mid" style="height: 50vh;">
  
    <canvas id = "myChart"></canvas>

</div>
